server:
  port: 8081

spring:
  application:
    name: web-app
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: public
      config:
        import-check:
          enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://127.0.0.1:3307/lease?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2b8
    username: root
    password: # 数据库密码
    hikari:
      connection-test-query: SELECT 1
      connection-timeout: 60000
      idle-timeout: 500000
      max-lifetime: 540000
      maximum-pool-size: 12
      minimum-idle: 10
      pool-name: SPHHikariPool
  jackson:
    time-zone: GMT+8
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

springdoc:
  api-docs:
    path: /web-app-docs
  default-flat-param-object: true

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

minio:
  endpoint: http://localhost:9000
  access-key: # MinIO Access Key
  secret-key: # MinIO Secret Key
  bucket-name: lease

aliyun:
  sms:
    access-key-id: # 阿里云 AccessKey ID
    access-key-secret: # 阿里云 AccessKey Secret
    endpoint: dypnsapi.aliyuncs.com
