<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.lease.web.app.mapper.RoomInfoMapper">

    <resultMap id="RoomItemVoMap" type="com.zju.lease.web.app.vo.room.RoomItemVo" autoMapping="true">
        <id column="id" property="id"/>
        <association property="apartmentInfo" javaType="com.zju.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id column="apartment_id" property="id"/>
        </association>
        <collection property="graphVoList" ofType="com.zju.lease.web.app.vo.graph.GraphVo"
                    select="selectGraphListByRoomId" column="id"/>
        <collection property="labelInfoList" ofType="com.zju.lease.model.entity.LabelInfo"
                    select="selectLabelListByRoomId" column="id"/>
    </resultMap>

    <!--由于在用到分页查询时，不能用collection进行嵌套结果映射，因此需要用到嵌套查询-->
    <select id="pageItem" resultMap="RoomItemVoMap">
        SELECT ri.id,
               ri.room_number,
               ri.rent,
               ai.id apartment_id,
               ai.name,
               ai.introduction,
               ai.district_id,
               ai.district_name,
               ai.city_id,
               ai.city_name,
               ai.province_id,
               ai.province_name,
               ai.address_detail,
               ai.latitude,
               ai.longitude,
               ai.phone,
               ai.is_release
        FROM room_info ri
        LEFT JOIN apartment_info ai
        ON ri.apartment_id = ai.id
        AND ai.is_deleted = 0
        WHERE ri.is_deleted = 0
        AND ri.is_release = 1
        AND ri.id NOT IN (
                    SELECT room_id
                    FROM lease_agreement
                    WHERE is_deleted = 0
                    AND status IN (2, 5)
        )
    </select>
    
    <select id="selectGraphListByRoomId" resultType="com.zju.lease.web.app.vo.graph.GraphVo">
        SELECT name,
                url
        FROM graph_info
        WHERE is_deleted = 0
        AND item_type = 2
        AND item_id = #{id}
    </select>
    
    <select id="selectLabelListByRoomId" resultType="com.zju.lease.model.entity.LabelInfo">
        SELECT id,
                type,
                name
        FROM label_info
        WHERE is_deleted = 0
        AND id IN (
                    SELECT label_id
                    FROM room_label
                    WHERE is_deleted = 0
                    AND room_id = #{id}
        )
    </select>
</mapper>
