<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.lease.web.app.mapper.UserInfoMapper">

    <select id="selectOneByPhone" resultType="com.zju.lease.model.entity.UserInfo">
        select id, phone, password, avatar_url, nickname, status
        from user_info
        where phone = #{phone} and is_deleted = 0
    </select>

    <select id="selectByPhone" resultType="com.zju.lease.model.entity.UserInfo">
        select id, phone, avatar_url, nickname
        from user_info
        where phone = #{phone} and is_deleted = 0
    </select>

    <select id="selectByNicknameLike" resultType="com.zju.lease.model.entity.UserInfo">
        select id, phone, avatar_url, nickname
        from user_info
        where nickname like concat('%', #{nickname}, '%') and is_deleted = 0
    </select>
</mapper>
