spring:
  application:
    name: leasego-gateway
  cloud:
    nacos:
      discovery:
        enabled: false
        server-addr: ${NACOS_HOST:localhost}:${NACOS_PORT:8848}
        namespace: ${NACOS_NAMESPACE:public}
      config:
        enabled: false
        server-addr: ${NACOS_HOST:localhost}:${NACOS_PORT:8848}
        namespace: ${NACOS_NAMESPACE:public}
        file-extension: yml
  sentinel:
    enabled: false
    datasource:
      flow:
        nacos:
          server-addr: ${NACOS_HOST:localhost}:${NACOS_PORT:8848}
          dataId: ${spring.application.name}-sentinel-flow
          groupId: SENTINEL_GROUP
          dataType: json

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: '*'
