<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.lease.web.admin.mapper.FeeValueMapper">

    <select id="selectListByApartmentId" resultType="com.zju.lease.web.admin.vo.fee.FeeValueVo">
        SELECT fv.id, fv.name name, fv.unit, fv.fee_key_id, fk.name fee_key_name
        FROM fee_value fv
        JOIN fee_key fk ON fk.id = fv.fee_key_id
        WHERE fv.is_deleted = 0
        AND fk.is_deleted = 0
        AND fv.id IN (SELECT fee_value_id
                        FROM apartment_fee_value
                        WHERE is_deleted = 0
                        AND apartment_id = #{id})
    </select>
</mapper>
